body {
    background-color: rgb(241, 226, 226);
}

#title{
    color: rgb(6, 6, 85);
}
.subtitle, .post_title{
    background: white;
    color: rgb(34, 135, 168);
}
.post_title{
    font-size: 20px;
    font-style: italic;
}
.post_title{
    background: white;
    padding: 10px;
    border: 3px solid black;
    margin: 10px;
}
p {
    color: grey;
}
